Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add: ["readability-*", "bugprone-*", "modernize-*"]

CompileFlags:
  CompilationDatabase: build/Release
  # CompilationDatabase: build/Debug
  Remove:
    - -fcolor-diagnostics
    - /showIncludes

Index:
  Background: Build