AccessModifierOffset: -3
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AlignConsecutiveMacros: Consecutive
AlignConsecutiveDeclarations: Consecutive
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
ColumnLimit: 100
Cpp11BracedListStyle: false
IndentCaseLabels: false
IndentWidth: 4
TabWidth: 4
PenaltyBreakAssignment: 90
PenaltyBreakBeforeFirstCallParameter: 100
PointerAlignment: Left
SortIncludes: CaseSensitive
SpacesBeforeTrailingComments: 2
UseTab: Never
NamespaceIndentation: All
