# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

!deps/api_helper/.gitignore
deps

# conan stuffs
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json
Findglfw3.cmake
Findopengl_system.cmake

# pipenv
Pipfile
Pipfile.lock

src/version.h
build